@model Category
@{
    ViewData["Title"] = "Detail";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">@Model.Name</h4>
                        <p>@Model.Description</p>
                        <a asp-action="Index" class="btn btn-dark">BACK</a>
                      </div>
                    </div>
                  </div>
    </div>
</div